# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
out/
build/
*.exe
*.msi
*.dmg
*.app
*.deb
*.rpm

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Compiled binary addons
build/Release

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor configs
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db